<mat-card class="mat-elevation-z8">
    <p class="login-heading">Reset Password</p>
    <form [formGroup]="resetFrom">
        <div style="margin-bottom: 18px;">
            <mat-form-field appearance="outline">
              <input [type]="passwordIcon?'password':'text'"  matInput formControlName="password"
                placeholder="Please Enter Your Password" name="">
              <mat-icon style="font-size: 20px;" (click)="passwordIcon = !passwordIcon" matSuffix>
                {{passwordIcon?'visibility':'visibility_off'}}</mat-icon>
                <mat-error *ngIf="frmCtrl['password'].hasError('required')" >Password Required</mat-error>
                <mat-error *ngIf="frmCtrl['password'].hasError('pattern')" >{{errMsg.password}} </mat-error>
            </mat-form-field>
          </div>
      <div style="margin-bottom: 18px;">
        <mat-form-field appearance="outline">
          <input [type]="passwordIcon?'password':'text'"  matInput formControlName="confirm_password"
            placeholder="Please Enter Confirm Password" name="">
          <mat-icon style="font-size: 20px;" (click)="passwordIcon = !passwordIcon" matSuffix>
            {{passwordIcon?'visibility':'visibility_off'}}</mat-icon>
            <mat-error *ngIf="frmCtrl['confirm_password'].hasError('required')" >Password Required</mat-error>
            <mat-error *ngIf="frmCtrl['confirm_password'].hasError('pattern')" >{{errMsg.password}} </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary">Reset</button>
      </div>
    </form>
  </mat-card>
