.t_and_C{
text-align: center;
font-size: 25px;
margin:20px 0;
flex-basis: 90%;
}
.editorButton{
    padding: 1px 50px;
    margin-top: 10px;
}
.t_and_c_Wrapper{
    display: flex;
    align-items: center;

}