<div class="t_and_c_Wrapper">
    <p class="t_and_C">Terms & Condition</p>
    <div>
        <button mat-flat-button color="primary" (click)="disableIcon=false"> Edit
            <button mat-icon-button color=""> 
                <mat-icon>edit</mat-icon>
            </button>
        </button>
    </div>
</div>
<editor apiKey="'hwasdyhaddsoajmo0shnlpqoz0cc99ut48e5ez91rvgx9q1y'"
[disabled]="disableIcon"
 [(ngModel)]="content"

 [init]="{
    statusbar:false
 }"
></editor>

<div style="text-align: center;">
    <button class="editorButton" mat-flat-button color="warn" (click)="disableIcon=true">Cancel</button>&nbsp;
    <button class="editorButton" mat-flat-button color="primary" (click)="updateTandC()">Save</button>
</div>


