mat-form-field{
    width: 100%;
}
mat-error{
    font-size: 15px;
}
.new_account_heading_container{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.quick_heading {
    font-size: 20px;
  }
button{
    width: 100%;
    height: 50px;
    font-size: 18px;
}
input {
    font-size: 15px;
    height: 30px;
}
.creat_heading{
    font-size: 30px;
    color: #673ab7;
}

.ragister_link p {
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}