.privacy{
    text-align: center;
    font-size: 25px;
    margin:20px 0;
    flex-basis: 90%;
    }
.editorButton{
    margin-top: 10px;
    padding: 1px 50px;
}
.privacy_Wrapper{
    display: flex;
    align-items: center;

}