<table mat-table [dataSource]="dataSource">

    <ng-container *ngFor="let row of heading" [matColumnDef]="row.heading">
        <ng-container *ngIf="row.heading!=='select'">
            <th mat-header-cell *matHeaderCellDef="">
                {{row.heading}}
            </th>
        </ng-container>
        <td mat-cel *matCellDef="let element ">
            <ng-container [ngSwitch]="row.key">
                <ng-container *ngSwitchCase="'name'">
                    {{element[row.key]}}
                </ng-container>
                <ng-container *ngSwitchCase="'email'">
                    {{element[row.key]}}
                </ng-container>
                <ng-container *ngSwitchCase="'role'">
                    {{element[row.key]}}
                </ng-container>
                <ng-container *ngSwitchCase="'mobile'">
                    {{element[row.key]}}
                </ng-container>
                <ng-container *ngSwitchCase="'country'">
                    {{element[row.key]}}
                </ng-container>
                <ng-container *ngSwitchCase="'status'">
                    {{element[row.key]}}
                </ng-container>
                <ng-container *ngSwitchCase="'action'">
                        <button mat-flat-button color="primary">{{element[row.status]=='true'?'Active':'Block'}}</button>&nbsp;
                        <button mat-flat-button color="primary">Delete</button>
                </ng-container>
            </ng-container>
        </td>

    </ng-container>

    <tr mat-footer-row *matHeaderRowDef="mat_header_row"></tr>
    <tr mat-row *matRowDef="let row; columns: mat_header_row;" tr>
    
</table>

<mat-paginator [length]="table_data_length"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="pageChange($event)"
              aria-label="Select page">
</mat-paginator>