<!-- <mat-toolbar>
    <button (click)="side.toggle()">login</button>
</mat-toolbar>
<mat-sidenav-container fullscreen>
    <mat-sidenav #side mode="side" opened (click)="side.close()">
        <mat-list>
            <mat-list-item>HOME</mat-list-item>
            <mat-list-item>ABOUT</mat-list-item>
            <mat-list-item>CONTACT SETTING</mat-list-item>
            <mat-list-item>MORE</mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->



<mat-toolbar >
    <h2>Shop_Now</h2>
    <div class="toolClass">
        <div>
            <button mat-icon-button  (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button> 
            Admin Panel
        </div>
        <div style="display: flex; align-items: center; gap: 10px;">
            <img style="height: 60px;" src="https://www.pngitem.com/pimgs/m/24-248235_user-profile-avatar-login-account-fa-user-circle.png" alt="">
            <button mat-flat-button  style="background-color: #f5f5f5; border: 1px solid #d1cccc;">Logout</button>
        </div>
    </div>
</mat-toolbar>

<mat-sidenav-container style="height: calc(100vh - 104px);">
    <mat-sidenav #sidenav mode="side" opened>
        <mat-nav-list>
            <mat-list-item>PRODUCTS</mat-list-item>
            <mat-list-item>CATEGORIES </mat-list-item>
            <mat-list-item>USERS</mat-list-item>
            <mat-list-item>PROFILE</mat-list-item>
            <mat-list-item>PRIVACY POLICY</mat-list-item>
            <mat-list-item>T & C</mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
       <main >
    shhh</main>
    </mat-sidenav-content>
</mat-sidenav-container>